language: android

android:
  components:
      - platform-tools
      - build-tools-23.0.2
      - android-23
      - extra-android-m2repository

script:
   - ./gradlew build connectedCheck

notifications:
  email: false

#sudo: false

#cache:
#  directories:
#    - $HOME/.gradle
